<ion-view view-title="汽车小助手">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item menu-close href="#/tab/status">
        <i class="iconfont icon-zhuangtai"></i>用油状态
      </ion-item>
      <ion-item menu-close href="#/tab/once">
        <i class="iconfont icon-zhuzhuangtu"></i>单次加油记录
      </ion-item>
      <ion-item menu-close href="#/tab/total">
        <i class="iconfont icon-leijishouyi"></i>累计用油记录
      </ion-item>
      <ion-item menu-close href="#/tab/history">
        <i class="iconfont icon-lishijilu"></i>用油历史
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
